server:
  port: 8884
  address: 0.0.0.0
  servlet:
    context-path: /


spring:
    datasource:
        driver-class-name:  com.mysql.jdbc.Driver
        url: jdbc:mysql://************:3306/tcc_order?useUnicode=true&characterEncoding=utf8
        username: admin
        password: admin
    application:
      name: order-service

mybatis:
  type-aliases-package: com.hmily.tcc.demo.springcloud.order.entity
  config-location: classpath:mybatis/mybatis-config.xml
#${random.int[9000,9999]}
eureka:
 client:
     serviceUrl:
       defaultZone: http://localhost:8761/eureka/
 instance:
   prefer-ip-address: true

logging:
            level:
                root: info
                com.hmily.tcc : debug
            path: "./logs"

